/* Color Palette */
:root {
    --primary-light: #7C93C3;
    --primary: #55679C;
    --secondary: #1E2A5E;
    --accent: #E1D7B7;
    --highlight: #E8C547;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main {
    flex-grow: 1;
}

/* Footer styling */
.footer {
    margin-top: 50px; /* Add some margin to ensure content does not overlap */
    padding: 20px 0;
    background-color: var(--secondary);
    color: var(--highlight);
    text-align: center;
}


@media screen and (max-width: 500px) {
    .nav-items > li {
        float: none;
        display: block;
    }
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 48px;
    margin: 0;
}

.custom-navbar {
    background-color: royalblue;
}

.navbar-brand {
    color: var(--highlight); 
    font-weight: bold;
}

.navbar-toggler {
    border: 1px solid var(--highlight); 
}

.navbar-toggler-icon {

    
}

.nav-link {
    color: var(--accent) !important;
    transition: color 0.3s ease-in-out;
}

    .nav-link:hover {
        color: var(--highlight) !important; 
        text-decoration: underline; 
    }

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    /*-webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;*/
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;

}
    .navbar-nav.me-auto .nav-link {
        font-weight: bold;
        color: var(--highlight) !important; 
    }


.section-1 {
    height: 100vh; 
    background-image: url('../images/csm_skiverleih-rentaski-reischach-kategorien_a16f2ad484.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.section-2 {
    height: 25vh; 
    background-color: #ffeb3b; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

.section-3 {
    height: 100vh; /* Full viewport height */
    background-image: url('../images/pexels-photo-5751035.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}